{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post">
    {% csrf_token %}
    <!--csrf защита от межсайтовых аттак-->
    <!--это Требование джанго при всех POST запросах-->
    <!--form.as_p(абзац) либо as_ul(маркерован список) as_table(в виде таблицы)-->
    <!--{{form.as_p}}-->
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Отправить</button></p>
</form>
{% endblock %}